
@{
    Layout = null;
    
}

<h2></h2>

<!DOCTYPE html>
<html lang="ru">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Харченков А.А.">
    <link rel="shortcut icon" type="image/x-icon" href="~/icons/favicon.ico">
    <title>Визуализатор СРМ</title>

    <script type="text/javascript">

    function init() {
        nodes = [];
        edges = [];
        var DIR = @("/" + Settings.IMAGE_PATH + "/");

        @foreach (Node elem in ViewBag.network.Nodes)
        {
            <text> nodes.push(
            {
                id: @elem.Id,
                label: '@elem.Name',
                image: DIR + '@elem.ImageName',
                font: { color: '@elem.LabelColor', strokeWidth: 5 },
            }); </text>
        }

        @foreach (Link elem in ViewBag.network.Links)
        {
            <text> edges.push(
                    {
                        id: @elem.Id,
                        from: @elem.ClientId,
                        to: @elem.ResourceId,
                        title: '@(elem.Type + " " + elem.Weight)%',
                        //label: @(elem.Weight) + '%',
                        value: @(elem.Weight),
                        color: { color: '@elem.Color', highlight: '@Settings.LINK_SELECTED_COLOR' },
                        dashes: [10, 10]
                    }
                ); </text>
        }

        var data = {
            nodes: nodes,
            edges: edges
        };

        draw(data);
    }
    </script>

    <link href="~/css/vis-network.css" rel="stylesheet" type="text/css">
    <link href="~/lib/vis-4.21.0/dist/vis-network.min.css" rel="stylesheet" type="text/css">
    <script src="~/js/renderGraph.js"></script>
    <script type="text/javascript" src="~/lib/vis-4.21.0/dist/vis.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

</head>
<body onload="init()">

    <div class="inline-panel">
        <div id="ig_canvas" class="inline-element" style="width: 68%">
            <div id="mynetwork">
                <div class="vis-network" tabindex="900">
                    <canvas width="1900" class="vis-canvas" height="1900"></canvas>
                </div>
                <div class="vis-tooltip">Popup message</div>
            </div>
            <div id="about">Визуализатор СРМ v1.0. Made by Артём Харченков.</div>
            <div id="buttonspanel">
                <input type="button" id="btn-UD" value="Сверху вниз">
                <input type="button" id="btn-DU" value="Снизу вверх">
                <input type="button" id="btn-LR" value="Слева направо">
                <input type="button" id="btn-RL" value="Справа налево">
                <input type="hidden" id="direction" value="UD">
            </div>
        </div>

        <div id="ig_infopanel" class="inline-element" style="width: 28%; display: none">
            <div id="description">
                <div id="node_description"></div>
                <div id="link_description"></div>
                <div id="childs_description"></div>
            </div>
        </div>

    </div>

    <script type="text/javascript" src="~/js/addDirections.js"></script>
    
</body>
</html>
